/coverage
/spec
/tmp
.ci-notify.sh
.git*
.rspec
.rubocop.yml
.ruby-gemset
.simplecov
.traceroute.yaml
lefthook.yml
Procfile
/config/database.yml.gitlab
/log
.DS_Store
Dockerfile
README.md
.bundle
.idea
dump.rdb
