/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.idea
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/master.key
/config/credentials/**.key

/coverage
/log
.ruby-gemset
